<!DOCTYPE html>
<html>

  <head>
    <title>Sample report</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <script type="text/javascript">
      $(function () {
        $('form').on('submit', function (e) {
          var $this = $(this);
          e.preventDefault();

          $.ajax({
            method: $this.attr('method'),
            url: $this.attr('action'),
            data: $this.serialize(),
            xhrFields: {
              responseType: 'blob',
            },
            headers: {
              // API Gateway only decodes the data if this header is sent
              'Accept': 'application/pdf',
            },
            success: function (blob) {
              // Workaround so the browser will display the download dialog
              var link = document.createElement('a');
              link.href = window.URL.createObjectURL(blob);
              link.style = "display: hidden;"
              link.download = "Report.pdf";
              document.body.appendChild(link);
              link.click();
            },
          });
        })
      });

    </script>
  </head>

  <body>
    <form action="{{ url_for('report') }}" method="post">
      {{ form.csrf_token }}
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Sample report generator in AWS Lambda</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Paste down here JSON data conforming to the schema in <a
                href="{{ url_for('static', filename='schema.json') }}">schema.json</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <textarea class="form-control json-input" rows="10"
              name="{{ form.json_values.name }}">{{ include_raw('static/sample.json') }}</textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block btn-lg">
              Generate report
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="footer-info">Source code available at <a
                href="https://github.com/diogenes1oliveira/lambda-pdf-report-demo">https://github.com/diogenes1oliveira/lambda-pdf-report-demo</a>.
            </p>
          </div>
        </div>
      </div>
    </form>

  </body>

</html>
